* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 20px;
    font-size: 15px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    padding: 0px;
}
.layar-dalam {
    width: 1000px;
    margin: auto;
}

.layar-penuh {
    width: 100%;
}
nav {
    z-index: 100;
    color: antiquewhite;
    text-align: center;
    position: fixed;
    border-bottom: 1px solid black;
    line-height: 60px;
    width: 100%;
    transition: background-color 0.5s ease;
}
nav.putih {
    background-color: aqua;
}
nav .logo {
    float: left;
    position: relative;
    line-height: 55px;
    text-align: center;
}
nav .logo img {
    vertical-align: middle;
    width: 80px;
}
nav .menu {
    float: right;
    height: 60px;
    max-width: 600px;
}
nav .menu ul {
    list-style-type: none;
    margin: 30;
    padding: 0;
    display: flex;
}
nav .menu ul li {
    position: relative;
    list-style-type: none;
    float: left;
    line-height: 60px;
}
nav .menu ul li a {
    font-size: 20px;
    padding: 20px;
    color: black;
    display: block;
}
nav .menu ul li a:hover {
    background: gray;
    color: white;
    border-radius: 25px;
}
nav .menu ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: gray;
    display: none;
    margin-top: 0px;
    border-radius: 25px;
}
nav .menu ul li ul li {
    width: 100%;
}
nav .menu ul li ul li ul {
    left: 200px;
    top: 0;
}
nav .menu ul li:focus-within > ul,
nav .menu ul li:hover > ul {
    display: initial;
}
nav ul li a {
    color: black;
    text-align: center;
    padding: 0px 16px 0px 16px;
}
nav ul li a:hover {
    text-decoration: none;
}
.navbar .logo {
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
    text-transform: uppercase;
}
.navbar .logo span {
    font-size: 1.5rem;
    color: black;
}
/* pengaturan header */
header {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 2;
}

header video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -2;
}
header .intro {
    z-index: 100;
    color: aqua;
    text-align: center;
    position: relative;
    top: 50%;
}
header .intro h1 {
    font-size: 50px;
    margin: 0;
    padding: 0;
}
.tombol {
    background-color: antiquewhite;
    height: 40px;
    line-height: 42px;
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 0px 20px 0px 20px;
    font-size: 15px;
    border-radius: 4px;
}
header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 50%;
    z-index: -1;
}
.tombol-menu {
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}
.tombol-menu .garis {
    height: 3px;
    background-color: black;
}
section {
    padding: 50px 0px 50px 0px;
}
section h3 {
    font-size: 30px;
}
section h3::after {
    content: "";
    border-bottom: 5px solid black;
    width: 52px;
    display: block;
    margin: 20px auto;
}
#ourteam,
#famousestblog,
#newestblog,
#lastestblog,
#contact {
    text-align: center;
}
section p.ringkasan {
    font-style: italic;
    font-size: 18px;
    color: aquamarine;
}
section .konten-isi p {
    font-style: normal;
}
nav.putih {
    background-color: gray;
}
nav.putih .tombol-menu .garis {
    background-color: black;
}
.tim {
    display: -webkit-box;
    flex-direction: row;
    justify-content: space-around;
}
.blog {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.tim {
    margin: 0;
    margin-top: 20px;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
} 
.tim div {
    text-align: center;
    width: 20%;
}
section#gallery {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
}
section#gallery div {
    padding: 10px;
}
section#gallery div img {
    height: 100px;
    border-radius: 5px;
}
section#gallery div img:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}
.tim img {
    height: 100px;
    width: 90%;
    box-shadow: 0px -10px 30px gray;
    border-radius: 5px;
    left: 0;
    right: 0;
}
.tim div img:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}
.tim h6 {
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
    font-size: 18;
    font-weight: bold;
}
footer {
    padding: 50px 0px 50px 0px;
    background-color: gray;
    color: azure;
}
footer h5 {
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
footer ul {
    list-style: none;
}
footer ul li:not(:last-child) {
    margin-bottom: 10px;
}
footer ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
footer ul li a:hover {
    color: white;
    padding-left: 8px;
}
footer .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: black;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
    flex-direction: row-reverse;
}
footer .social-links a:hover {
    color: #24262b;
    background-color: white;
}
footer .layar-dalam {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer .layar-dalam div {
    width: 20%;
}
footer .layar-dalam h5 {
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
}
footer .layar-dalam .copyright {
    width: 100%;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid black;
    text-align: center;
}
footer .layar-dalam .copyright a {
    color: white;
}
.blog .area {
    width: 47%;
    box-shadow: 0px -10px 30px gray;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.blog div.area div {
    width: 100%;
}
.blog .area .gambar {
    border-radius: 5px 0px 0px 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 410px;
}
.blog .area .text article {
    padding: 40px;
}
.blog .area .text article h4 {
    margin: 0px;
}
.blog .area .text article a {
    color: gray;
    text-decoration: none;
    transition: color 0.5s ease;
}
.blog .area .text article a:hover {
    color: wheat;
}
.content {
    text-align: center;
    width: 100%;
    position: absolute;
    color: white;
    top: 30%;
    transform: translateY(-50);
}
.content h1 {
    text-align: center;
    font-size: 100px;
    color: white;
    font-weight: 500;
    transition: 0.5s;
}
.content h1:hover {
    -webkit-text-stroke: 2px white;
    color: transparent;
}
.content a {
    text-decoration: none;
    display: inline-block;
    color: black;
    font-size: 20px;
    border: 2px solid black;
    padding: 15px;
    border-radius: 25px;
    margin-top: 20px;
    width: 200px;
    margin: 20px 5px;
    text-align: center;
    cursor: pointer;
    font-weight: 400;
}
.content a:hover {
    background: black;
    transition: 0.5s;
    color: white;
}
.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.heading {
    text-align: center;
    padding: 2.5rem 0;
}
.heading span {
    font-size: 2.5rem;
    background: black;
    color: white;
    border-radius: .5rem;
    padding: .2rem 1rem;
    font-weight: 70;
}
.heading span.space {
    background: none;
}
.abuabu .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}
.abuabu .row .image {
    flex: 1 1 40rem;
}
.abuabu .row .image img {
    width: 100%;
}
.abuabu .row form {
    flex: 1 1 40rem;
    padding: 2rem;
    box-shadow: 0 1rem 2rem black;
    border-radius: .5rem;
}
.abuabu .row form .inputBox {
    padding: .5rem 0;
}
.abuabu .row form .inputBox h5 {
    font-size: 2rem;
    padding: 1rem 0;
    color: white;
}
.galeri .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.galeri .box-container .box {
    overflow: hidden;
    box-shadow: 0 1rem 2rem gray;
    border: 1rem solid white;
    border-radius: .5rem;
    flex: 1 1 30rem;
    height: 25rem;
    position: relative;
}
.galeri .box-container .box img {
   object-fit: cover;
}
.galeri .box-container .box .content {
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 2rem;
    padding-top: 5rem;
}
.galeri .box-container .box:hover .content {
    top: 0;
}
.galeri .box-container .box .content h5 {
    font-size: 2.5rem;
    color: white;
}
.galeri .box-container .box .content p {
    font-size: 1.5rem;
    color: white;
    padding: .5rem 0;
}
.contactUs {
    position: relative;
    width: 100%;
    padding: 40px 100px;
}
.contactUs .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
.contactUs .title h2 {
    color: black;
    font-weight: 500;
}
.form {
    grid-area: form;
}
.info {
    grid-area: info;
}
.map {
    grid-area: map;
}
.contact {
    padding: 40px;
    background: white;
    box-shadow: 0 5px 35px gray;
}
.box {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info"
    "form map";
    grid-gap: 20px;
    margin-top: 20px;
}
.contact h3 {
    color: black;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;
}

/* form */
.formBox {
    position: relative;
    width: 100%;
}
.formBox .row50 {
    display: flex;
    gap: 20px;
}
.formBox .row50 .inputBox {
    width: 50%;
}
.inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50px;
}
.formBox .row100 .inputBox {
    width: 100%;
}
.inputBox span {
    color: gray;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
    text-align: left;
}
.inputBox input {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid black;
}
.inputBox textarea {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid black;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}
.inputBox input[type="submit"] {
    background-color: gray;
    color: white;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
}
.inputBox ::placeholder {
    color: gray;
}

/* info */
.info {
    background: gray;
}
.info h3 {
    color: white;
}
.info .infoBox div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.info .infoBox div span {
    min-height: 25px;
    height: 20px;
    color: white;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}
.info .infoBox div p {
    color: white;
    font-size: 1.1em;
}
.info .infoBox div a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}
.sci {
    margin-top: 40px;
    display: flex;
}
.sci li {
    list-style: none;
    margin-right: 15px;
}
.sci li a {
    color: white;
    font-size: 2em;
    color: black;
}
.sci li a:hover {
    color: white;
}
@media screen and (max-width: 1000px) {
    .layar-dalam {
        width: 100%;
    }
    nav .menu ul {
        display: none;
        margin-top: 40px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    nav .menu ul li {
        width: 100%;
        border-bottom: 1px solid black;
        background-color: white;
        line-height: 40px;
    }
    nav .menu ul li a {
        color: black;
    }
    .tombol-menu {
        display: flex;
    }
    .blog .area {
        display: block;
    }
    .blog div.area div {
        width: 100%;
    }
    .blog .area .gambar {
        border-radius: 5px 5px 0px 0px;
        height: 200px;
    }
    .registration {
        display: block;
    }
    .registration {
        display: block;
    }
    .registration div {
        width: 100%;
        padding: 30px;
    }
    .registration div {
        width: 100px;
        padding-bottom: 30px;
    }
}
@media (min-aspect-ratio: 16/9) {
    .back-video {
      width: 100%;
      height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    .back-video {
      width: auto;
      height: 100%;
    }
}
@media (max-width: 991px) {
    .contactUs {
        padding: 20px;
    }
    .box {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "form"
        "info";
    }
    .formBox .row50 {
        display: flex;
        gap: 0;
        flex-direction: column;
    }
    .inputBox {
        width: 100%;
    }
    .contact {
        padding: 30px;
    }
}
@media (max-width:450px) {
    .heading span {
        font-size: 2.5rem;
    }
}